.tableCard {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 1px 4px 5px 0px #bdbfb9;
}

table {
  padding: 0 20px;
  width: 100%;
  table-layout: fixed;
}

.checkbox {
  width: 15px;
  text-align: right;
}

.vol {
  width: 40px;
}

.titulo {
  width: 70%;
}

.services {
  float: right;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
}

.popup_inner div {
  overflow: scroll;
  position: absolute;
  top: 120px;
  left: 0%;
  right: 0%;
  bottom: 0%;
  margin: auto;
}

th {
  text-align: left;
}

td {
  text-align: left;
}
